<section class="relative min-h-[90vh] flex items-center md:px-16">
  <div class="container mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 items-center z-10">

    <div class="absolute inset-0 z-0 bg-[url('/assets/img/adornos-hero.svg')] bg-cover bg-center bg-no-repeat h-full w-full pointer-events-none xl:size-[90vh] xl:ml-14"></div>

    <div class="space-y-6">
      <h1 class="text-4xl sm:text-5xl font-extrabold text-primary-ambient leading-tight max-w-xl">
        {{ 'hero.titulo' | translate }}
        <span class="text-primary-ambient font-black">{{ 'hero.lugar' | translate }}</span>
      </h1>

      <p class="text-xl font-extralight text-gray-500 max-w-lg">
        {{ 'hero.descripcion' | translate }}
      </p>

      <div class="flex flex-col sm:flex-row gap-4">
        <button [routerLink]="['/reportar']"
          class="inline-flex items-center gap-2 px-6 py-3 bg-orange-600 text-white rounded-lg hover:bg-orange-700 transition-colors shadow-lg">
          <svg class="size-6" width="24" height="24" viewBox="0 0 1024 1024">
          <use xlink:href="/assets/sprite.svg#fire" />
        </svg>
          {{ 'hero.reportarAhora' | translate }}
        </button>

      </div>
    </div>

    <!-- Imagen -->
    <div class="hidden lg:block">
      <img src="assets/img/bg-hero.png" alt="Incendio forestal"
        class="rounded-lg shadow-lg object-cover h-[80vh] w-full object-[75%_center]">
    </div>

  </div>
</section>
